@import '~antd/dist/antd.css';

header {
  padding: 30px 0px;
  background: #405b77;
  color: white;
  text-align: center;
  width: 100vw;
}



header h1 {
  color: white;
  font-weight: 600;
  margin: 0;
}

body {
  background: #ffffff;
}

.books {
  margin: 0 auto;
}

.error {
    margin: 0 auto;
    width: 300px;
}

.card-button span {
  padding: .2rem;
}

.card-button{
  height: 100%;
}

.book-card-content {
  height: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.book-card h5 {
  text-align: center;
}

.button-div {
  background-color: aqua;
  margin: 0 auto;
}

.book-list {
  display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 100%;
    width: 1080px;
    justify-content: center;
}

.spinner {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchbar-div {
  margin: 80px auto;
  width: 250px;
}



h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: .75rem;
}

 h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}

.container {
  display: flex;
  flex-direction: column;

}

.card-img {
  margin-bottom: 1rem;
  width: 100px;
  border-radius: calc(.25rem - 1px);
  vertical-align: middle;
  border-style: none;
}

.card-img:hover {
  cursor: pointer;
  box-shadow: 0 1rem 2rem rgba(92, 92, 92, 0.175);
}

.book-card {
  background-color: #ffffff;
    margin: 10px;
    width: 250px;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175);
}