header {
  padding: 20px 0px;
  background: #405b77;
  color:white;
  text-align: center;
}

header h1 {
color: white;
font-weight: 700;
}
body {
  height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ccc;
}

.container {
  background-color: black;
}